

<div class="form-actions no-color">
    <form action="/search/results" method="post">
        <p>
            <lable for="searchTerm">Find by tag: </lable>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>
    </form>
</div>


@if (ViewBag.videos != null)
{
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Channel</th>
                <th>Date</th>
                <th>Tag</th>
            </tr>
            
                @foreach (var video in ViewBag.videos)
                {
                    <tr>
                        <td>@video.Title</td>
                        <td>@video.Channel</td>
                        <td>@video.Date</td>
                        <td>@video.TagText</td>
                    </tr>
                }
            

        </table>
    </div>   
   
}

