@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome To Automata World</h1>
    <h1 class="display-5">Your Personal Video Catalog System</h1>
    <h4>One-stop video library for all the mechanism you ever dreamed</h4>
</div>
