@model VCS.ViewModel.EditViewModel

<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>Tag</th>
            <td>@Model.TagText</td>
        </tr>
    </table>
</div>

<div class="form-actions no-color">
    <form asp-controller="Video" asp-action="Edit" method="post">
        <input type="hidden" value="@Model.VideoId" name="VideoId" />
            <label asp-for="TagName">Add Tag</label>
            <input type="text" asp-for="TagName" />
            <span asp-validation-for="TagName"></span>
    </form>
</div>